<form action="/login" method="post">


  {{!-- email input --}}
  <input type="text" name="email" placeholder="Email">

  {{!-- password input --}}
  <input type="text" name="password" placeholder="Password">


  <button type="submit">Login</button>

</form>